*{
    margin: 0;
    padding: 0;
}

body {
    background: url(../multi/a.jpg);
}

#container {
    background: #FFF;
    margin: 0 auto;
    width: 90%;
}

header {
    min-width: 100%;
    min-height: 120px;
    background-color: rgb(109, 201, 243);
    border: double;
    padding: solid 1px black;
}

aside {
    height: 540px;
    width: 20%;
    float: left;
    background-color: white;
    border: double;
    padding: solid 1px black;
}
aside ul
{
    padding-left: 35px;
}
/*Nội dung*/
nav {
    height: 540px;
    width: 58.5%;
    float: left;
    background-color: white;
    border: double;
    padding: solid 1px black;
}
nav ol
{
    padding-left: 30px;
}
nav img
{
    width: 230px;
    height: 230px;
}
#lh
{
    width: 300px;
    height: 2px;
    background-color: blue;
}
/*Quảng cáo*/
section {
    height: 540px;
    width: 20%;
    float: right;
    background-color: white;
    border: double;
    padding: solid 1px black;
}
section img
{
    margin-left: 10px;
}
footer {
    min-width: 100%;
    min-height: 50px;
    background-color: rgb(109, 201, 243);
    float: left;
    border: double;
    padding: solid 1px black;
}
footer p{
    color: darkorchid;
    text-align: center;
    margin-top: 27px;
}