header {
    height: 18vh;
    border: 1px solid black;
    background-image: url("./ban.jpg");
}

section {
    height: 75vh;
}

nav {
    width: 19.9%;
    height: 120%;
    float: left;
}

.loginbox {
    height: 35%;
    color: black;
    background: white;
    text-align: center;
    border: 1px solid black;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.loginbox p {
    margin: 0;
    padding: 0;
}

.loginbox input {
    width: 50%;
    align-items: center;
    margin-bottom: 3px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: 30%;
    border-bottom: 0px solid black;
    background: white;
    outline: none;
    color: black;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    background: #DF0101;
    color: black;
    border-radius: 20px;
}

.searchbox {
    height: 8%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border: 1px solid black;
}

.searchbox input[type="search"] {
    width: 100%;
    height: 100%;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.searchbox .icon {
    position: absolute;
    margin-left: 17px;
    margin-top: 14px;
    z-index: 1;
    color: #4f5b66;
}

#menu_chinh {
    height: 51%;
    border: 1px solid black;
}

#menu_chinh a {
    margin-left: 20px;
}

aside {
    width: 80%;
    height: 120%;
    float: left;
}

#quick_link {
    height: 4%;
    width: 64.6%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    float: left;
}

#ngay {
    height: 4%;
    width: 35%;
    float: right;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    color: rgb(11, 9, 133);
}

#so1 {
    width: 100%;
    height: 55px;
    float: left;
    background-color: #136ABF;
}

#so2 {
    float: left;
    padding: 11px;
    color: aliceblue;
}

.bogachchan {
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}

#trang_chinh {
    height: 90.3%;
    width: 70%;
    float: left;
    border: 1px solid black;
}

#frame_chinh {
    width: 100%;
    height: 99%;
}

#menu_phu {
    height: 90.3%;
    width: 29.6%;
    float: left;
    border: 1px solid black;
}

footer {
    height: 10vh;
    text-align: center;
}

footer p {
    color: brown;
    font-size: 150%;
}

a:hover,
a:active {
    font-size: 150%;
    color: red;
}