body{
    min-width: 100%;
    min-height: 1000px;
    background: black;
}
#tren{
    background: gold;
    min-width: 100%;
    min-height: 150px;
}
#tren img{
    width: auto;
    height: 70px;
}
#tren ul{
    margin: 0px;
    padding: 0px;
}
#tren ul li{
    display: inline;
    float: left;
}
#tren ul li a{
    display: block;
    color: white;
    border-right: 1px solid aqua;
    padding: 0px 25px 0px 25px;
}
#banner{
    background: blue;
    min-height: 50px;
    min-width: 100%;
}
#banner ul{
    margin: 0px;
    padding: 0px;
    
}
#banner ul li{
    list-style: none;
    float: left;
}   
   
#banner ul li a{
    text-decoration: none;
    display: block;
    line-height: 50px;
    color: white;
    padding: 0px 70px 0px 70px;
    border-right: 2px solid aqua;
}
#noidung #trai{
    background: orange;
    min-height: 700px;
    float: left;
    min-width: 70%;
}
#noidung #trai #tren{
    background: coral;
    min-width: 100%;
    min-height: 400px;
}
#noidung #trai #tren #anhtrai{
    width: 100px;
    min-height: 200px;
}
#noidung #trai #tren #tinmoi{
    color: blue;
}
#noidung #trai #duoi{
    background: crimson;
    width: 100%;
    min-height: 200px;
}
#noidung #phai{
    background: cadetblue;
    float: left;
    min-height: 700px;
    min-width: 30%;
}
#noidung #phai #banner1{
    background: chartreuse;
    min-width: 10%;
    min-height: 150px;
}
#noidung #phai #banner2{
    background: orangered;
    min-width: 10%;
    min-height: 110px;
}
#noidung #phai #banner3{    
    background: palegreen;
    min-width: 10%;
    min-height: 110px;
}
#footer{
    background: green;
    min-width: 100%;
    min-height: 110px;
    clear: left;
}
#footer #trai{
    background: green;
    min-width: 70%;
    min-height: 150px;
    float: left;
}
#footer #phai{
    background: green;
    min-width:  30%;
    min-height: 150px;
    float: left;

}
#footer #phai ul{
    margin: 0px;
    padding: 0px;
    
}
#footer #phai ul li{
    list-style: none;
    float: left;
}   
   
#footer #phai ul li a{
    text-decoration: none;
    display: block;
    line-height: 25px;
    color: white;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid aqua;
}