body{
    min-width: 900px;

}
#tren{
    min-width: 100%;
    min-height: 120px;
    background-color: blue;
}
#tren img{
    width: 100%;
    height: 120px;
}
#trai{
    height: 500px;
    width: 20%;
    float: left;
    background-color: chartreuse;
}
#giua{
    height: 500px;
    width: 60%;
    float: left;
    background-color: cyan;
}
#phai{
    height: 500px;
    width: 20%;
    float: right;
    background-color: yellowgreen;
}
#duoi{
    min-width: 100%;
    min-height: 50px;
    background-color: pink;
    float: left;
}